# Ignore node_modules directory
node_modules/

# Ignore generated JavaScript files
*.js

# Ignore generated JavaScript map files
*.js.map

# Ignore compiled TypeScript files
*.tsbuildinfo

# Ignore system and hidden files (Mac-specific)
.DS_Store

# Ignore environment configuration files
.env

# Ignore logs and runtime data
logs/
run/

# Ignore Visual Studio Code settings
.vscode/

# Ignore npm logs and error reports
npm-debug.log
yarn-error.log

# Ignore local configuration files
package-lock.json
yarn.lock

# Ignore dependencies installed by linters/formatters
.prettierignore
.prettierrc
.eslintignore
.eslintrc.js

# Ignore IDE and editor-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
